{% extends 'home.html' %}


{% block MainContainer %}

    <body>
    <form align='center' name="form2" action="http://127.0.0.1:5000/save">
        <table>
            <tr><td>姓名</td><td><input type="text" name="addname" id="addname"></td></tr>
            <tr><td>手机</td><td><input type="text" name="addphone" id="addphone"></td></tr>
            <tr><td>房号</td><td><input type="text" name="addroom" id="addroom"></td></tr>
            <tr><td>承租日期</td><td><input type="text" name="addstart" id="addstart"></td></tr>
            <tr><td>到期日期</td><td><input type="text" name="addend" id="addend"></td></tr>
            <tr><td></td><td><input type="submit" value="保存"  id="savebtn">  <input type="button" value="取消"  id="cancelbtn"></td></tr>

        </table>
    </form>
{% endblock %}


{% block script %}
    <script type="text/javascript">

        var addname = document.getElementById("addname")
        var addphone = document.getElementById('addphone')
        var addroom = document.getElementById('addroom')
        var addstart = document.getElementById("addstart")
        var addend = document.getElementById("addend")
        var savebtn = document.getElementById('savebtn')
        var cancelbtn = document.getElementById("cancelbtn")

        var addform = document.getElementById("addform")

        savebtn.onclick = function () {

            var add_name = addname.value;
            var add_phone = document.getElementById("addphone").value
            {#addphone=addphone.value;#}
            addroom = addroom.value;
            addstart = addstart.value;
            addend = addend.value;

            addform.action = "http://127.0.0.1:5000/save";
            addform.submit()

        }

    </script>


{% endblock %}

