<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询第一个租客</title>

    <style>
        table {
            margin: auto
        }
    </style>

</head>
<body>
<h1 align="center">租客管理系统</h1>
<form align='center' name="form" action="http://127.0.0.1:5000/save" method="get">
    姓名 <input type="text" id="addname"><br>
    手机 <input type="text" id="addphone"><br>
    房号 <input type="text" id="addroom"><br>
    承租日期 <input type="text" id="addstart"><br>
    到期日期 <input type="text" id="addend"><br>
    <input type="submit" value="保存" , id="savebtn">
    <input type="button" value="取消" ,id="cancelbtn">
</form>

<br><br>





</body>
</html>