<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>租客管理系统</title>

    <style>
        table {
            margin: auto
        }

        td {

            text-align: center;

        }

        .page {
            margin: auto;
            padding: 20px;
            width: 600px;
            float: right;
        }

        .login {
            color: red;
            float: right;


        }

        .logout {
            color: blue;
            float: right;
        }

        #outer {
            width: 1115px;
            margin: auto;
        }

    </style>

</head>


{% block title %}
    <title></title>

{% endblock %}

{% block H1 %}
<h1 align="center">租客管理系统</h1>


{% endblock %}


{% block MainContainer %}



{% endblock %}


{% block form %}

{% endblock %}