<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>租客管理系统</title>

    <style>
        table {
            margin: auto
        }
        td {

    text-align:center;

        }
        .page {
            margin:auto;
            padding: 20px;
            width: 600px;
            float: right;
        }
        .login{
            color:darkblue;
            float: right;


        }
        .logout{
            color:blue;
            float: right;
        }

        #outer{
            width: 900px;
            margin:auto;
        }

    </style>

</head>
<body>
<div id="outer">
<div>
    {% if cookie=="yes" %}
        <div class="login">已登录</div>

    {% else %}

        <div class="logout">请登录</div>
    {% endif %}
</div>
<h1 align="center"  style="color: darkblue">租客管理系统</h1>

<form align='center' name="form" action="#" method="get">
    <span style="font-size:14px">租客姓名</span><input type="text" name="Tname" id="tenantName"/>

    电话
    <input type="text" name="Tphone" id="Tphone">
    房号
    <input type="text" name="Troom" id="Troom">
    <input type="button" value="查询" id="all" style="background: powderblue;outline:none;border:0">
    <input type="button" value="新增" id="addnew"  style="background: powderblue;outline:none;border:0">


</form>

<br><br>


{% block MainContainer %}

    <table style="font-size:13px;border-collapse:collapse;" align ="center"; border="1"; width="100%">

        <tr>
             <th>租客姓名</th>
             <th>租客电话</th>
             <th>房号</th>
             <th>承租日期</th>
             <th>到期日期</th>
        </tr>


        {% for result in results %}
            {% if loop.index0%2==0 %}
                <tr bgcolor="#f0f8ff">

            {% else %}
                <tr bgcolor="#b0e0e6">

            {% endif %}

             <td ><div>{{ result[1] }}</div></td>
             <td ><div>{{ result[2] }}</div></td>
             <td ><div>{{ result[3] }}</div></td>
             <td ><div>{{ result[4] }}</div></td>
             <td ><div>{{ result[5] }}</div></td>
            </tr>



        {% endfor %}



    </table>

{% endblock %}




<div class="page">

{#    <input type="text"  name="pagesize"  style="width:15px;height:10px">#}
{#    <span style="font-size:14px">第几页</span>#}
    <input type="text" name="pagenumber" style="width:15px;height:10px">
    <span id="span_pre" style="font-size:14px">上一页</span>
    <span id="span_nxt" style="font-size:14px">下一页</span>

</div>



<script type="text/javascript">
    var  check = document.getElementById('btn');
    var Tname = document.getElementById('tenantName');
    var allbtn = document.getElementById('all')
    var Tphone = document.getElementById("Tphone");
    var Troom = document.getElementById("Troom");
    var addnew = document.getElementById("addnew")

    allbtn.onclick = function () {
        Tname = Tname.value;
        Tphone = Tphone.value;
        Troom = Troom.value;
        document.form.action = "http://127.0.0.1:5000/getAll/"+2
        document.form.submit()
    }



    var nxt = document.getElementById("span_nxt")

</script>

</div>
</body>
</html>