<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>logintest</title>
</head>
<body>

<form action="">
    username:<input type="text" id="username">
    password: <input type="password" id="passowrd">
    checked <input type="checkbox",id="remember">


</form>
<script type="text/javascript">
    function login() {
         var username = document.getElementById("username").value;
         var password = document.getElementById("password").value;
         var remember = document.getElementById("remember").checked;
         var xmlHttp;
         if (window.XMLHttpRequest){

             xmlHttp = new XMLHttpRequest();

         }
         else{
             xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
         }
         xmlHttp.onreadystatechange=function () {

             if (xmlHttp.readyState==4 && xmlHttp.status==200)
             {

             }

         };

         xmlHttp.open("POST","/flask/login",true);
         xmlhttp.setRequestHeader("Content-type","application/json");

         var data={
             "username":username,
             "password":password,
             "remember":remember
         };
         var data_json =JSON.stringify(data);
         xmlhttp.send(data_json);


    }




</script>

</body>
</html>