{% extends 'home.html' %}


{% block MainContainer %}
    <div align="center">

     <table align ="center" style="border-collapse:collapse;" border="1">
        <tr>
             <th>租客姓名</th>
             <th>租客电话</th>
             <th>房号</th>
             <th>承租日期</th>
             <th>到期日期</th>
        </tr>



        <tr>
             <td>{{ tenantName }}</td>
             <td>{{ tenantPhone}}</td>
             <td>{{ roomNum}}</td>
             <td>{{ startDate}}</td>
             <td>{{ endDate}}</td>

        </tr>
     </table>
    </div>

{% endblock %}
