{% extends 'home.html' %}


{% block MainContainer %}
    <table style="font-size:13px;border-collapse:collapse;" align ="center"; border="1"; width="100%">

        <tr>
             <th>租客姓名</th>
             <th>租客电话</th>
             <th>房号</th>
             <th>承租日期</th>
             <th>到期日期</th>
        </tr>


        {% for result in results %}
            {% if loop.index0%2==0 %}
                <tr bgcolor="#f0f8ff">

            {% else %}
                <tr bgcolor="#b0e0e6">

            {% endif %}

             <td ><div>{{ result[1] }}</div></td>
             <td ><div>{{ result[2] }}</div></td>
             <td ><div>{{ result[3] }}</div></td>
             <td ><div>{{ result[4] }}</div></td>
             <td ><div>{{ result[5] }}</div></td>
            </tr>



        {% endfor %}



    </table>


{% endblock %}
